<section class="audio">

<div class="audio-controls">
  <a id="{{ page.fileSlug }}-audio-button">
    <i class="fa fa-play"></i>
  </a>
</div>

<div class="audio-content">
  <div id="{{ page.fileSlug }}-audio">
  </div>
</div>

<script type="text/javascript">


document.addEventListener("DOMContentLoaded", function() {
  let style = ("{{ color | contrast }}" == "light") ? "#F7EDE3" : "#082534";
  let alpha = ("{{ color | contrast }}" == "light") ? "rgba(247,237,227,.3)" : "rgba(8,37,52,.3)";

  var wavesurfer = WaveSurfer.create({
      container: '#{{ page.fileSlug | slug }}-audio',
      barWidth: 3,
      barHeight: 1,
      waveColor: alpha,
      progressColor: style
  });

  wavesurfer.load( "{{ audio | url }}");

  let button = document.getElementById("{{ page.fileSlug }}-audio-button");

  button
    .onclick = () => {
      wavesurfer.playPause();
      if( wavesurfer.isPlaying() )
        button.innerHTML = '<i class="fa fa-pause"></i>'
      else
        button.innerHTML = '<i class="fa fa-play"></i>'
    }
});


</script>

</section>
