---
title: Dain Saint
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link href="https://fonts.googleapis.com/css2?family=Questrial&family=Raleway:ital,wght@0,300;0,800;1,300;1,800&family=Spectral:ital,wght@0,300;0,700;1,200;1,300;1,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ "/assets/css/fonts/elgraine/elgraine.css" | url }}"/>
    <link rel="stylesheet" type="text/css" href="{{ "/assets/css/foundation.css" | url }}"/>
    <link rel="stylesheet" type="text/css" href="{{ "/assets/css/main.css" | url }}"/>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-2/css/all.min.css"/>
    <script src="https://kit.fontawesome.com/4b1f0829c1.js" crossorigin="anonymous"></script>

    {% capture pageSocialImg %}{% if social %}https://dainsaint.com{{ social }}{% else %}https://dainsaint.com/previews/{{ title | slug }}.png{% endif %}{% endcapture %}

    <meta property="og:image" content="{{pageSocialImg}}" />
    <meta property="og:title" content="dain saint - {{ title }}" />
    <meta property="og:description" content="{{ description }}" />

    <meta name="twitter:image" content="{{pageSocialImg}}" />
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@dainsaint">
    <meta name="twitter:creator" content="@dainsaint">
    <meta name="twitter:title" content="dain saint - {{ title }}">
    <meta name="twitter:description" content="{{ description }}">
  </head>

  <body style="background-color: {{ color }}">

    {% include header %}

    {% if hero %}
    <div class="hero-image" style="background-image: url('{{ hero | url }}')">
    </div>

    {% endif %}

    {{ content | safe }}


    <script src="{{ "/assets/js/main.js" | url }}"></script>

    <script src="https://unpkg.com/wavesurfer.js"></script>
    <!-- Fathom - beautiful, simple website analytics -->
    <script src="https://cdn.usefathom.com/script.js" data-site="NDEWSDVW" defer></script>
    <!-- / Fathom -->
  </body>
</html>
