{% assign color = "#161616" %}
<footer class="post {{ color | contrast }}" style="background-color: {{ color }}">

<div class="post-main">

{%- if pagination -%}
<div class="pagination-block">
<h3 class="project-header">explore more, <span style="white-space: nowrap;">or take a break</span></h3>
<nav>
  {% if pagination.href.previous %}
    <a href="{{ pagination.href.previous }}">previous page</a>
  {% endif %}

  {% if pagination.href.next %}
    <a href="{{ pagination.href.next }}">next page</a>
  {% endif %}

</nav>
</div>
{%- endif -%}

<div class="random-block">
<h3 class="project-header">enjoy a random piece</h3>
<nav>
  {% assign random = collections.posts | getRandom: page %}
<a href="{{ random.url }}">{{ random.data.title }}</a>
</nav>
</div>

{% include subscribe %}
</div>

</footer>
