<article id="{{ post.data.title | slug }}" class="post full {{ post.data.color | contrast }}" style="background-color: {{ post.data.color }};  --background: {{ post.data.color }}">

  <div class="post-main">
    {% assign featured = post.data.featured %}
    {% include featured %}

    <div class="post-body">



    <div class="post-meta">
      <div class="post-meta-deco" style="background-image: url('/assets/img/deco/{{ post.data.deco }}.png')">
      </div>
    </div>

    {% assign query = collections.projects | fromFile: post.data.project %}

    <div class="post-content">
      <h2 class="post-header"><a href="{{ post.url | url }}">{{ post.data.title }}</a></h2>

      {% if query %}
      <div class="post-project">part of <a href="{{ query.url | url}}">{{ query.data.title }}</a></div>
      {% endif %}



      <div class="post-content-text">
      {{ post.templateContent | safe }}
    </div>



    </div>


  </div>

  <div class="post-social-block">
    <div class="post-social-spacer"></div>
    {% include social %}
  </div>


  </div>

</article>
