
<div class="preview-frames">
  {% assign splitContent = post.templateContent | split: "<blockquote></blockquote>" %}
  {{ post.data.title }}

  <div class="row">




    {% assign query = collections.projects | fromFile: post.data.project %}

    {% if query %}
    {% assign project = query.data.title %}
    {% endif %}


  {% for body in splitContent %}

<div class="scale">
  <div id="{{ post.data.title | slug }}-{{ forloop.index }}" class="frame">
    {% if splitContent.size > 1 %}
    {% assign more = true %}
    {% endif %}

    {% if forloop.last == true %}
    {% assign more = false %}
    {% endif %}

    {% if post.data.layout == "blog" %}

    {% include preview-blog %}

    {% else %}

    {% if forloop.first == true %}
    {% include preview-poem %}
    {% else %}
    {% include preview-continued %}
    {% endif %}

    {% endif %}


  </div>

  <a class="download" onclick="captureElement('{{ post.data.title | slug }}-{{ forloop.index }}')"><i class="fa fa-download"></i></a>
  <span class="loadingIndicator"><i class="fa fa-cog fa-spin"></i></span>
</div>
  {% endfor %}

  {% for f in post.data.featured %}

  {% if f.template == "quote" %}

<div class="scale">
  <div id="{{ post.data.title | slug }}-f-{{ forloop.index }}" class="frame">
      {% include preview-quote, quote: f.content %}
  </div>
  <a class="download" onclick="captureElement('{{ post.data.title | slug }}-f-{{ forloop.index }}')"><i class="fa fa-download"></i></a>
  <span class="loadingIndicator"><i class="fa fa-cog fa-spin"></i></span>
</div>

{% elsif f.template == "prompt" %}

<div class="scale">
<div id="{{ post.data.title | slug }}-f-{{ forloop.index }}" class="frame">
    {% include preview-prompt, prompt: f.content %}
</div>
<a class="download" onclick="captureElement('{{ post.data.title | slug }}-f-{{ forloop.index }}')"><i class="fa fa-download"></i></a>
<span class="loadingIndicator"><i class="fa fa-cog fa-spin"></i></span>
</div>

{% endif %}
  {% endfor %}
</div>

</div>
