{% assign posts = collections.posts | inProject: page.inputPath | map: 'data' %}

<article class="post full {{ color | contrast }}" style="background-color: {{ color }}; --background: {{ color }}">

  <div class="post-main">

    {% include featured %}

    <div class="project-body">

      <div class="project-intro">

      <div class="project-info">
        <h1 class="project-title">{{ title }}</h1>
        <div class="project-description">{{ description }}</div>
        <div class="post-permalink"><a href="#">dainsaint.com{{ page.url | url }}</a></div>
      </div>

      <div class="project-status">
        <h3 class="project-header">Project Status</h3>
        <p>
          {{ status | markdown }}
        </p>
      </div>

    </div>

    <div class="post-content">

      {{ content | safe }}

    </div>

    {% include toc %}

  </div>



</article>
<section class="project-posts {{ arrange }}">
{% for p in posts %}
{% assign post = collections.all | where: "fileSlug", p.page.fileSlug | first %}
{% include post-content post=post%}
{% endfor %}
</section>
