
{% assign posts = collections.all | map: "data" | where: "project", "these-truths" %}

<article class="post full">

  <div class="project main">

    <div class="post-content">
      <h1>{{ title }}</h1>
      {% if query %}
      <div class="post-project">from <a href="{{ query.url }}">{{ query.data.title }}</a></div>
      {% endif %}
      {{ content | safe }}

    <h2>contents</h2>

    {% for p in posts %}
    {% assign post = collections.all | where: "fileSlug", p.page.fileSlug | first %}
    <li>{{ post.data.title }}</li>
    {% endfor %}

        </div>
  </div>

</article>


{% for p in posts %}
{% assign post = collections.all | where: "fileSlug", p.page.fileSlug | first %}


{% assign title = post.data.title %}
{% assign date = post.data.date %}
{% assign content = post.templateContent %}

{% include post-content %}


{% endfor %}
