
{% assign posts = collections.all | map: "data" | where: "project", page.fileSlug %}

<article class="post full">

  <div class="post-main">

    {% include featured %}

    <div class="project-body">

      <div class="project-intro">

      <div class="project-info">
        <h1 class="project-title">{{ title }}</h1>
        <div class="project-description">{{ description }}</div>
        <div class="post-permalink"><a href="#">dainsaint.com{{ page.url }}</a></div>
      </div>

      <div class="project-status">
        <h3 class="project-header">Project Status</h3>
        <p>
          {{ status | markdown }}
        </p>
      </div>

    </div>

    <div class="post-content">

      {{ content | safe }}

    </div>

    <div class="post-subscribe">
      <h3 class="project-header">Subscribe for Updates</h3>
      <p>
        I send a bi-weekly newsletter with updates from my garden. No spam.
      </p>

      <div class="post-subscribe-form">
        <input/>
        <button>subscribe</button>
      </div>

    </div>
  </div>



</article>

{% include toc %}


{% for p in posts %}
{% assign post = collections.all | where: "fileSlug", p.page.fileSlug | first %}


{% assign title = post.data.title %}
{% assign date = post.data.date %}
{% assign content = post.templateContent %}
{% assign featured = post.data.featured %}

<div id="{{ post.data.title | slugify }}"></div>
{% include post-content %}


{% endfor %}
